
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  background-color: white;
}
#SuzanneImageContainer {
  min-width: 384px;
  min-height :256px;
  background-color: red;
  margin: 0 auto;
}
#textbox{
  width:384px;
  animation: width 0.5s ease-in-out ;
  animation-duration: 1s;
  /*background-color: #cccccc;*/
  margin:8px;
  align-content: center;
}
.opacityFade{
  animation: opacity 0.5s ease-in-out ;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {

body{
  margin-top:32px;
}
.flexcenter{
  display:flex;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
