
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  background-color: white;
}
#SuzanneImageContainer {
  min-width: 384px;
  min-height :256px;
  background-color: black;
  margin: 0 auto;
}
#textbox{
  width:384px;
  animation: width 1s;
  animation-duration: 1s;
  /*background-color: #cccccc;*/
  margin:8px;
  align-content: center;
}
.opacityFade{
  background-color: blue;
  transition: opacity;
  transition-duration: 1s;

}

body{
  margin-top:32px;
}
.flexcenter{
  display:flex;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
